<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--自动装载Knight类-->
    <bean id="knight" class="main.java.aop.test.Knight"/>

    <bean id="minstrel" class="main.java.aop.test.Minstrel"/>

    <bean id="fight" class="main.java.aop.test.Fight">
        <constructor-arg ref="knight"/>
    </bean>

    <aop:config>
        <aop:pointcut id = "say" expression="execution(* main.java.aop.test.Fight.onFighting(..))"/>
        <aop:aspect ref="minstrel">
            <aop:before pointcut-ref="say" method="beforeRun"/>
            <aop:after  pointcut-ref="say" method="afterRun"/>
        </aop:aspect>
    </aop:config>

 </beans>