<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--自动装载Knight类-->
    <bean id="knight" class="main.java.aop.test1.Knight">
        <constructor-arg name="name" value="houyafei"/>
    </bean>

    <bean id="minstrel" class="main.java.aop.test1.Minstrel"/>

    <bean id="fight" class="main.java.aop.test1.Fight">
        <constructor-arg ref="knight"/>
    </bean>

    <!--包含参数的和不包含参数的切面方法不可以同时使用-->
    <aop:config proxy-target-class="true">
        <aop:pointcut id = "say" expression="execution(* main.java.aop.test1.Fight.onFighting(String)) and args(army)"/>
        <aop:aspect ref="minstrel">
            <aop:before pointcut-ref="say" method="beforeRunArgs" arg-names="army"/>
        </aop:aspect>
    </aop:config>

 </beans>